form {
    text-align: center;
    width: 70%;
    margin: 1rem auto 0 auto;
    padding-right: 1rem;
}

.form {
    width: 100%;
}

.buttons {
    width: 100%;
    text-align: start;
    margin-bottom:  1rem;
}

button {
    margin-right: .5rem;
    padding-right: 2rem;
    padding-left: 2rem;
}